__pycache__/
*.py[cod]
*.pyo

# 가상환경
.venv/
.env
.env.*
.envs/

# Git 관련
.git
.gitignore

# IDE
*.swp
.idea/
.vscode/

# 테스트 & 커버리지
tests/
.coverage
htmlcov/
.pytest_cache/

# OS junk
.DS_Store
Thumbs.db

# 굳이 빌드에 필요 없는 것만 제한
# 필요하면 명시적으로 제외하지 말 것!
